<section class="home" *ngFor="let info of dataMain">
  <h1 class="home__title">
    {{ info.homeTitle }}
  </h1>
  <div class="home__container">
    <img class="home__image" src="{{ info.imagePrimaryUrl }}" alt="" />
    <p class="home__description">{{ info.homeDescription }}</p>
  </div>
</section>
