@import '../../../../../styles/sizes.scss';
@import '../../../../../styles/fonts.scss';
@import '../../../../../styles/colors.scss';
@import '../../../../../styles/responsive.scss';

.home{
  background-image: url(../../../../../assets/img/portfolio_21.jpg);
  background-position: center;
  background-size: cover;

    animation: fadeIn 2s ease;
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 100%;
      }
    }

    &__container{
        border-bottom: 1px solid hsla(0, 0%, 50%, 0.100);
        text-align: center;
        
    }

    &__title{
      text-align: left;
      padding: 5%;
      margin: 0;
      

    }

    &__description{
        
      display: flex;
      padding: 5%;
      margin: 5%;
      text-align: left;
      font-weight: 100;
      color: azure;
      background-color: #000000b0;

    }

    &__image {
      border-radius: 50%;
      width: 200px;
      height: 200px;
       
    }
}