<div>
  <h3
    *ngFor="let info of dataGalleryFourth; index as i"
    class="galleries__title"
  >
    {{ info.galleryTitle }}
  </h3>
  <p
    *ngFor="let info of dataGalleryFourth; index as i"
    class="galleries__description"
  >
    {{ info.galleryDescription }}
  </p>
</div>


<swiper [config]="config" class="swiper-container">
  <div *ngFor="let img of dataGalleryFourth">
    <div>
      <img class="swiper-slide" src="{{ img.imageUrl }}" alt="slide" />
    </div>
  </div>
</swiper>
