<div class="galleries">
  <div class="wrapper">
    <div class="box" *ngFor="let img of dataGallerySecond">
      <img class="galleries__cell" src="{{ img.imageUrl }}" alt="picture" />
    </div>
  </div>

  <app-gallery-second-swiper
    [dataGallerySecond]="dataGallerySecond"
  ></app-gallery-second-swiper>
</div>
