@import "../../../../../styles/sizes.scss";
@import "../../../../../styles/fonts.scss";
@import "../../../../../styles/colors.scss";
@import "../../../../../styles/responsive.scss";

.box {
  border-radius: 5px;
  padding: 0.025em;
  font-size: 100%;
  image-rendering: optimizeQuality;
}

.box:nth-child(even) {
  margin: 1%;
}

.wrapper {
  display: grid;
  grid-gap: 3%;
  grid-template-columns: repeat(3, 7em);
  grid-template-rows: 7em 7em 7em;
  margin-bottom: 7%;
  justify-content: center;
}

.box {
    
  border-radius: 5px;
  padding: 0.025em;
  font-size: 100%;
  image-rendering: optimizeQuality;
}

.box:nth-child(even) {
  margin: 1%;
}

.wrapper {
  display: grid;
  grid-gap: 3%;
  grid-template-columns: repeat(3, 7em);
  grid-template-rows: 7em 7em 7em;
  margin-bottom: 7%;
  justify-content: center ;
}

.galleries {
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  margin-bottom: 2rem;
  &__header{
    display: flex;
    margin: 5%;
  }

  &__title{
    margin-left: 5%;
    display: flex;
    justify-content: center;
    font-size: xx-large;
  }
  &__description{
    margin-left: 5%;
    text-align: left;
    justify-content: left;
    display: flex;
    padding: 3rem;

  }
  &__cell {
    width: 100%;

    animation: fadeIn 2s ease;
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 100%;
      }
    }
  }
}
