@import '../../../../styles/sizes.scss';
@import '../../../../styles/fonts.scss';
@import '../../../../styles/colors.scss';
@import '../../../../styles/responsive.scss';
  
  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }
  
  .box:nth-child(even) {
    background-color: #ccc;
    color: #000;
  }
  
  .wrapper {
    display: grid;
    grid-gap: 3%;
    grid-template-columns: repeat(3, 7em);
    grid-template-rows: 7em 7em 7em;
    margin-bottom: 7%;
    justify-content: center ;
  }