@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/sizes.scss';
@import '../../../styles/responsive.scss';

.navbar{

    font-family: 'Poppins' sans-serif;
    font-weight: 900;

    &__container{
        display: flex;
        justify-content: space-between;
        

    }

    &__logo{
        width: 4rem;
        height: 3rem;
        display: flex;

    }

    &__link-box{
        display: flex;
        width: 80vw;
        justify-content: space-around;

    }

    &__link{
        display: flex;
        margin: 1em;
        cursor: pointer;
        .zoom:hover { 
            transform: scale(1.5);
        }
        

    }
}