<nav class="navbar">
    <div class="navbar__container">
      <img
        src="../../../assets//img/logo2FINAL2.png"
        alt="logo"
        class="navbar__logo"
      />
      <div class="navbar__link-box">
        <p class="navbar__link zoom" [routerLink]="['home']">HOME</p>
        <p  class="navbar__link zoom "[routerLink]="['galleries']">GALLERIES</p>
        <p  class="navbar__link zoom"[routerLink]="['contact']">CONTACT</p>
        
      </div>
    </div>
  </nav>
