<div class="wrapper">
  <div class="box" *ngFor="let item of dataGalleryThird">
    <img class="galleries__cell" src="{{ item.imageUrl }}" alt="" />
  </div>
</div>

<app-gallery-third-swiper
  [dataGalleryThird]="dataGalleryThird"
></app-gallery-third-swiper>
