<section class="rrss__container">
    <h3>Find me in:</h3>
    <div class="rrss__container--logo">
        
        <span>
            <a href="https://instagram.com" >
                <img class="rrss__logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Instagram_font_awesome.svg/512px-Instagram_font_awesome.svg.png" alt="instagram">
              </a>

        </span>
        <span >
            <a href="https://gitlab.com/pedro-rodriguez-suarez-infiesta">
                <img class="rrss__logo" src="https://cdn.iconscout.com/icon/free/png-256/gitlab-3-555563.png" alt="gitlab">
              </a>

        </span>
        <span >
            <a href="https://twitter.com/?lang=es" class="icon-alone">
                <img class="rrss__logo" src="https://icon-library.com/images/twitter-icon-svg/twitter-icon-svg-13.jpg" alt="twitter">
              </a>

        </span>
        

    </div>
</section>