@import "../../../../../styles/colors.scss";
@import "../../../../../styles/fonts.scss";
@import "../../../../../styles/sizes.scss";
@import "../../../../../styles/responsive.scss";

.rrss {

    animation: fadeIn 4s ease;
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 100%;
      }
    }
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 3em;

  > h3 {
    font-weight: 800;
    display: flex;
    width: 6em;
    justify-content: center;
    text-align: center;
  }

  &__logo {
    width: 3em;
    display: flex;
    flex-direction: row;
   
  }

  &__container{
    text-align: center;

  }

  &__container--logo{
    display: flex;
    margin: 5%;
    justify-content: space-evenly;
  }
  
}
