@import "../../../../../styles/sizes.scss";
@import "../../../../../styles/fonts.scss";
@import "../../../../../styles/colors.scss";
@import "../../../../../styles/responsive.scss";

.form {
  font-weight: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  text-align: -webkit-center;

  &__fieldset {
    border-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1%;
  }

  &__button {
    border-radius: 15px;
    background: none;
    font-weight: bold;
    justify-content: center;
    display: flex;
    width: 5em;
  }

  &__select {
    align-self: center;
    padding: 1%;
    margin: 1%;
    text-align-last: center;
  }

  &__textarea {
    margin: 1%;
  }
}
