<section class="form">
    <div class="form__container">
        
        
        <form autocomplete="off" (ngSubmit)='onSubmit()' [formGroup]="reservationForm" >
            <fieldset class="form__fieldset">
                <label for="name">Name:</label>
                <input type="text" id="name" formControlName="name" class="form__textarea">
                <div *ngIf="(!reservationForm.get('name')?.valid && reservationForm.get('name')?.dirty) || submitted" class="error">
                    <p>El nombre es inválido</p>
                </div>
            </fieldset>
            <fieldset class="form__fieldset">
                <label for="surname" class="form__label">Last Name:</label>
                <input type="text" id="surname" formControlName="surname" class="form__textarea">
                <div *ngIf="(!reservationForm.get('surname')?.valid && reservationForm.get('surname')?.dirty) || submitted" class="error">
                    <p>El apellido es inválido</p>
                </div>
            </fieldset>
            <fieldset class="form__fieldset">
                <label for="email" class="form__label">Email:</label>
                <input type="text" id="email" formControlName="email" class="form__textarea">
                <div *ngIf="(!reservationForm.get('email')?.valid && reservationForm.get('email')?.dirty) || submitted" class="error">
                    <p>El email es inválido</p>
                </div>
            </fieldset>
           
            <fieldset class="form__fieldset">
                <label for="message" class="form__label">Message:</label>
                <textarea id="message" formControlName="message" class="form__textarea"></textarea>
                <div *ngIf="(!reservationForm.get('message')?.valid && reservationForm.get('message')?.dirty) || submitted" class="error">
                    <p>No te enrolles</p>
                </div>
            </fieldset>

            <fieldset class="form__fieldset">
                <label for="subject">Subject</label>
                <select name="subject" id="subject" class="form__select">
                    <option subject="Front-End" value="developer" class="form__option">Front-End Developer</option>
                    <option subject="Photo" value="photography">Photography</option>
                    <option subject="other" value="photography">Other</option>
                </select>
            </fieldset>
           
            
        
            <button type="submit" [disabled]="!reservationForm.valid" class="form__button">Enviar</button>
            <p *ngIf="reservationForm.valid">Thanks por making contact!</p>

        </form>

    </div>
</section>

