<section class="about">
  <div *ngFor="let about of dataAbout" class="about__header">
    
    <!--  <img class="about__image--profile" src="{{ about.profileImage }}" alt="" /> -->
    <div class="about__content">
      <h1 class="about__title">
        {{ about.homeAboutTitle }}
      </h1>
      <!-- <img class="about__image" src="{{ about.profileImage }}" alt="profileImage" /> -->
      <p class="about__description">{{ about.homeAboutDescription }}</p>
    </div>
  </div>
</section>
