@import '../../../../../styles/sizes.scss';
@import '../../../../../styles/fonts.scss';
@import '../../../../../styles/colors.scss';
@import '../../../../../styles/responsive.scss';


.about{
  background-image: url(../../../../../assets/img/portfolio_10.jpg);
  background-position: center;
  background-size: cover;


    animation: fadeIn 3s ease;
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 100%;
      }
    }

    &__header{
      border-bottom: 1px solid hsla(0, 0%, 50%, 0.100);
        margin-bottom: 10%;
    }

    &__content{
      display: flex;
      flex-direction: column;
    }
    &__title{
        display: flex;
        text-align: left;
        padding: 5%;
    

    }

    &__description{ 
      display: flex;
      padding: 5%;
      margin: 5%;
      text-align: left;
      -webkit-font-kerning: 5%;
      font-kerning: 5%;
      font-weight: 100;
      height: 10rem;
      overflow-y: scroll;
      color: azure;
      background-color: #000000b0;

    }

    &__image{
        width: 100%;
    }

    &__image--profile{
        width: 100%;
        border-radius: 50%;
    width: 200px;
    height: 200px;}
}