
<div class="wrapper">
  <div class="box" *ngFor="let item of dataGalleryFourth">
    <img ng-model="fullWidth" class="galleries__cell" src="{{ item.imageUrl }}" alt="" />
  </div>
</div>

<app-gallery-fourth-swiper
  [dataGalleryFourth]="dataGalleryFourth"
></app-gallery-fourth-swiper>
