.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .galleries {
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    margin-bottom: 2rem;
    &__header{
      display: flex;
      margin: 5%;
    }
  
    &__title{
      margin-left: 5%;
      display: flex;
      justify-content: center;
      font-size: xx-large;
    }
    &__description{
      margin-left: 5%;
      text-align: left;
      justify-content: left;
      display: flex;
      padding: 3rem;
  
    }}


  
  