<div class="wrapper">
    <div class="box" *ngIf="dataGalleryFirst">
      <div *ngFor="let item of dataGalleryFirst">
        <p>{{ item.imageTitle }}</p>
        <img
          class="galleries__second"
          src="{{ item.imageUrl }}"
          alt=""
        />
      </div>
    </div>
  </div>
  