<div *ngIf="form == null" class="contact__info">
  <div *ngFor="let contact of form">
    <h3>{{ contact.name }}</h3>
    <p>{{ contact.formDescription }}</p>
    <img src="{{ contact.imageUrl }}" alt="" />
  </div>
</div>
<app-contact-son
  (newUserEmmit)="newVisitor(form)"
  *ngIf="form == null"
></app-contact-son>
