@import '../../../../styles/colors.scss';
@import '../../../../styles/fonts.scss';
@import '../../../../styles/sizes.scss';
@import '../../../../styles/responsive.scss';


.form{
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
.contact{

    &__info{

        margin-left: 10%;
        padding-right: 14%;
    }
}